.bg-image {
  background-image: url("../../../../uploads/2021/05/3291_header.jpg");
  height: 100%;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
